{% extends 'base.html.twig' %}

{% block title %}Справочник | Категории{% endblock %}

{% block content %}
    
	<div class="row">
		<div class="span12">
			Вы находитесь в секции просмотра справочника категорий!
		</div>
	</div>
	<div class="row">
		<div class="span12">
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('create_section', {'section_id': section_id) }}"><button class="btn-large">{{ 'create.section'|trans }}</button></a>
		{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div id="firms">
				<table class="table table-striped table-bordered">
					<tr>
						<th>наименование</th><th>Дата создания</th><th></th>{% if is_granted('ROLE_ADMIN') %}<th>Операции</th>{% endif %}
					</tr>
				 {% for section in sections %}
					<tr>
						<td>{{ section.name }}</td><td>{{ section.createdAt|date("d.m.Y") }}</td><td></td>{% if is_granted('ROLE_ADMIN') %}<td><a href="{{ path('edit_entry', {'id': section.id, 'type': 'fiz'}) }}" title="{{ 'edit'|trans }}"><i class="icon-edit"></i></a> | <a href="{{ path('delete_entry', {'id': section.id, 'type': 'fiz'}) }}" title="{{ 'delete'|trans }}"><i class="icon-remove"></a></td>{% endif %}
					</tr>
				 {% endfor %}
				</table>
			</div>
		</div>
	</div>
	
{% endblock %}